.box{
    background-image: url("../../assets/landing_page_background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    transition: all 4s ease;
    transition-duration: 10s;
}

